<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color: #F5F7FA;font-family: Montserrat, sans-serif;padding: 45px 0;">
    <h2 style="text-align:center;margin-bottom:45px;margin-top:0;">vet app</h2>
    <div style="max-width:580px;margin:0 auto;background-color:#fff;padding:75px 90px;box-sizing:border-box;border-radius:5px;border: 1px solid rgb(218, 225, 233);">
      <img src='https://s3-us-west-2.amazonaws.com/vet-app/lock-open%402x.png' style="margin:0 auto 30px;display:block;"/>
      <h3 style="margin-top:45px;">Hey <%= @user.first_name %>!</h3>
      <p style="font-size:14px;">
        It seems you've lost your password. If that's the case or wish to reset it,
        use the link below to get started.
      </p>
      <a href="<%= "#{ENV['APP_HOST']}/auth/reset?id=#{@user.id}&token=#{@user.password_reset_token}" %>" style="display:block;vertical-align:middle;line-height:40px;color:#fff;background-color:#3EA5FB;height:40px;text-decoration:none;padding:5px 20px;border-radius:3px;margin:45px auto 0;width:125px;text-align:center;">
        Reset Password
      </a>
    </div>
  </body>
</html>
